@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* setup root css files */
:root {
  --btn-background: #21262d;
  --btn-border: #303639;
  --color-bg-canvas: #010409;
  --white-text: white;
  --grey-text: #8b949e;
  --outline: #e0e1e2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.far,
.fas {
  margin-right: 10px;
}
@media (max-width: 480px) {
  .far,
  .fas {
    margin-right: 0px;
    display: none;
  }
}

/* Styling for the navigation bar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #161b22;
  justify-content: space-between;
  padding: 16px 32px 16px 32px;
}
.navigation,
.navbar,
.profile {
  display: flex;
  align-items: center;
}
.mobile-bar span {
  height: 2px;
  width: 20px;
  margin: 5px;
  background: white;
  position: absolute;
  visibility: hidden;
}
.git-svg {
  height: auto;
  width: 32px;
}
.search-field,
.repo-finder input {
  padding: 5px 12px;
  border-radius: 6px;
  border: 0.1px solid gray;
  background-color: #0d1117;
  color: white;
  outline: none;
  cursor: text;
  font-weight: 500;
  margin: 0px 20px;
}
.search-field:focus {
  outline: none;
  border: none;
}
.search-field::placeholder {
  color: #cacaca;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin-right: 16px;
  color: white;
}
li:hover {
  color: #93b8c5;
  cursor: pointer;
}

.icon-pair {
  display: flex;
  align-content: center;
}

.fa-sort-down {
  margin-left: 5px;
}

.fa-bell {
  font-size: large;
}

.icon {
  color: white;
  margin-right: 20px;
}

.profile-image {
  height: 20px;
  width: 20px;
  display: flex;
}
.profile-image img {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  object-fit: cover;
}
/* Media queries for the navigation bar */
@media (max-width: 480px) {
  .navigation {
    width: 55%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .search-field {
    display: none;
  }

  .mobile-bar span {
    visibility: visible;
    display: flex;
    position: static;
  }

  #menu {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  #menu.active {
    display: flex;
    visibility: visible;
    margin-top: 20px;
    flex-direction: column;
    position: absolute;
    top: 30px;
    width: fit-content;
    padding: 20px;
    background-color: #0d1117;
    line-height: 3rem;
  }

  .icon-pair {
    display: none;
  }
}
/* End of styling for the navigation bar */

.profile-body {
  margin: 30px auto 0 auto;
  padding: 0px 32px 0px 32px;
  color: var(--white-text);
  display: flex;
  max-width: 1280px;
}

/* Styling for bio-column */
.bio-column {
  height: 100%;
  width: 30%;
  margin-right: 20px;
  color: black;
}
.bio-column img {
  height: auto;
  border-radius: 50%;
  width: 100%;
  margin-top: 24px;
  border: 1.5px solid var(--border);
}
.bio-column h3 {
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 20px;
  font-weight: bold;
}
.bio-column .login {
  color: var(--grey-text);
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.bio {
  margin-bottom: 20px;
  width: 100%;
  line-height: 1.6rem;
}
button {
  width: 100%;
  line-height: 20px;
  padding: 5px 16px;
  border: 1px solid var(--grey-text);
  cursor: pointer;
  background-color: white;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
}
/* Media queries for the bio-body */
@media (max-width: 480px) {
  .profile-body {
    flex-direction: column;
    padding: 0 20px;
  }
  .bio {
    margin-bottom: 20px;
  }
  button {
    width: 100%;
    margin-bottom: 20px;
  }
  .bio-column {
    width: 100%;
  }
  .bio-column img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    border: 1.5px solid gray;
  }
  .bio-column .login {
    margin-bottom: 0px;
  }
  .identity {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  .bio-column h3 {
    font-size: 1.4rem;
    margin-top: 0px;
  }
}
/* End of styling for the profile body */

/* Styling for repo-column */
.repo-column {
  width: 100%;
}
.tabs {
  border-bottom: 1px solid var(--outline);
  width: 100%;
  padding: 0 16px;

  z-index: 2;
}
.tabs li {
  padding: 8px 16px;
  color: var(--grey-text);
}
.repo-no .repNum {
  background-color: gray;
  padding: 4px;
  font-size: 10px;
  color: white;
  border-radius: 50%;
}
.repo-finder {
  display: flex;
  padding: 16px 0px;
  /* border-bottom: 1px solid var(--outline); */
}
.repo-finder input {
  padding: 5px 10px;
  width: 100%;
  background-color: white;
}
.repo_btn,
.repo_btn_new {
  display: flex;
  align-items: center;
  border: 1px solid var(--outline);
  margin-right: 10px;
  color: black;
  background-color: white;
  outline: none;
  width: fit-content;
}
.repo_btn_new {
  margin-left: 30px;
  background-color: #2ea44f;
  color: white;
}
.r_btn {
  display: flex;
}
/* Media queries for the repo-column */
@media (max-width: 480px) {
  .tabs {
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
  }
  .tabs li {
    padding: 0px 0px;
    font-size: 0.9rem;
    margin: 0px 10px 0px 0px;
  }
  .repo-finder,
  .repo-finder input {
    flex-direction: column;
    margin: 0px;
    padding: 0;
  }
  .repo-finder input {
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  .repo-finder :last-child {
    order: -1;
  }
  .r_btn {
    display: flex;
    margin: 2px;
  }
  .r_btn :nth-child(3) {
    order: 2;
  }
  .repo_btn,
  .repo_btn_new {
    margin: 0px;
  }
  .repo_btn {
    flex-direction: row-reverse;
  }
  .repo_btn_new {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
/* End of styling for the repo-column  */

/* Styling for repo-list */
.repository {
  border-top: 1px solid var(--outline);
  border-bottom: 1px solid var(--outline);
  margin: 0px 10px 0px 10px;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: space-between;
}
.repository-list {
  display: flex;
  flex-direction: column;
}
.repo-desc a {
  color: #0366d6;
  text-decoration: none;
}
.repo-name {
  margin-bottom: 10px;
}
.repo-desc span {
  display: flex;
  align-items: center;
  color: gray;
}
.repo-description {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 14px;
  width: 95%;
}


.lng-color {
  margin-right: 10px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.lng-name {
  font-size: 12px;
  margin-right: 20px;
}
.last-updated {
  font-size: 12px;
  display: none;
}
.repo-status button {
  border: 1px solid var(--grey-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stars,
.forks {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.fa-star,
.fa-code-branch {
  margin-right: 5px;
  /* margin-left: 10px; */
}

.results p {
  color: rgb(44, 44, 44);
  border-top: 1px solid var(--outline);
  margin-left: 20px;
  padding: 16px 0px;
}
@media (max-width: 480px) {
 span .stars, span .forks{
    display: none;
  }

  
.repo-status button {
  align-items: center;
  justify-content: left;
}
}