@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
}

.card {
  height: 100vh;
  display: flex;
}

.form {
  margin: 0 auto;
  align-self: center;
  padding: 20px;
}

.image {
  height: 200px;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  width: 200px;
  object-fit: contain;
  clip-path: polygon(50% 0%, 100% 40%, 100% 70%, 50% 100%, 0% 70%, 0% 40%);
}

.enter-username {
  font-size: 1.6rem;
  margin:10px 0px 40px 0px;
  text-align: center;
  font-weight: 700;
 
}



input {
  height: 50px;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  margin: 10px 0px 12px 0px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
}

input:focus {
  outline: none;
}

.search-label {
  color: #252b42;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.search-button {
  width: 100%;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #011e2e;
  color: white;
}

.warning{
  color: red;
  font-style: italic;
  font-size: 14px;
}